body {
	background-color: gray;
	margin: initial;

	color: #404040;
	font-family: Ubuntu, Tahoma, Helvetica, sans-serif
}

#header {
	border-bottom: 3px solid rgba(100,100,100,0.35);
	background: #e2e2e2;
	padding: 6px 24px 6px;
}

#header h1 {
	display: inline-block;
	margin: initial;
}

#resultsArea {
	float: left;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	padding: 10px;
	background-color: white;
	box-shadow: inset 0px 0px 5px black;
}

.spaceArea {
	float: left;
	position: relative;
	background-color: white;
	/*width: 84%;*/
	width: 50%;
	height: 100%;
	box-shadow: inset 0px 0px 5px black;
}

#nav {
	float: left;
	position: relative;
	width: 15%;
	height: 100%;
	background-color: white;
}

.parameters {
	word-wrap: break-word;
    white-space: pre-wrap;
    font-size: small;
	float: left;
	width: 15%;
	padding: 10px;
	background-color: white;
	box-shadow: inset 0px 0px 5px black;
}

.spaceContainer {
	width: 100%;
	height: 100%;
}

.select {
	font-size:small;
	width: 125px;
}

#svgArea {
	box-sizing: border-box;
	height: 250px;
	padding: 10px;
	background-color: white;
	box-shadow: inset 0px 0px 10px black;
}
#svgContainer {
	width: 100%;
	height: 100%;
}

#resizeBar {
	cursor: ns-resize;
	height: 3px;
	background-color: #163463;
}
#resizeBar:hover {
	background-color: #355fdrfa3;
}
#resizeBar[mode="dragging"],
#resizeBar[mode="dragging"]:hover {
	background-color: lightblue;
}

#bottomHalf {
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.socket {
	box-sizing: border-box;
	padding: 10px;
	/*border: 2px solid blue;*/
}
#resultsArea .socket {
	box-shadow: inset 0px 0px 10px black;
	border-radius: 5px;
	width: 100%;
	height: 100%;

	background: #222;
}
.socketOverlay {
	z-index: 20;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	padding: 20px;
	border-radius: 5px;
}
.socketOverlay[mode="empty"] {
	background: url('x.png') no-repeat;
	background-position: center;
	background-size: contain;
	background-origin: content-box;
}
.socketOverlay[mode="filled"]:hover {
	background: url('arrow.png') no-repeat, rgba(0,0,0,0.5);
	background-position: center;
	background-size: contain;
	background-origin: content-box;
}

#sidebar {
	width: 400px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;

	padding: 5px;

	box-sizing: border-box;
	background-color: #6c89b7;
	border-right: 15px solid #283f60;
	box-shadow: 2px 0px 5px dimgray;
}
.sidebarThird {
	position: relative;
	height: 30%;
	margin-bottom: 10px;
	/*border: 2px solid red;*/
	background-color: #446699;
	box-shadow: inset 2px 3px 2px #618ac6,
				inset -2px -3px 2px #283f60,
				1px 1px 3px #4a5e7c;
	border-radius: 3px;
	padding: 3px;

	text-align: center;
}
.sidebarThird span {
	color: #eee;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}
.sidebarThird .socket {
	position: absolute;
	top: 30px;
	right: 5px;
	left: 5px;
	bottom: 5px;

	background-color: #1a2b44;
	box-shadow: inset 0px 0px 10px black;
	border-radius: 5px;
}

.wrapper-dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    
    /* Styles */
    background: #9bc7de;
    color: #fff;
    outline: none;
    cursor: pointer;
    
    /* Font settings */
    font-weight: bold;
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;
}

.wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0; /* Size */
    right: 0; /* Size */
    
    /* Styles */
    /*background: #fff;*/
    font-weight: normal; /* Overwrites previous font-weight: bold; */
    
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown.active:after {
    border-color: #9bc7de transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.wrapper-dropdown.active {
    background: #9bc7de;
    background: linear-gradient(to right, #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%);
}

