body {
	background-color: gray;
	margin: initial;

	color: #404040;
	font-family: Ubuntu, Tahoma, Helvetica, sans-serif
}

#header {
	border-bottom: 3px solid rgba(100,100,100,0.35);
	background: #e2e2e2;
	padding: 6px 24px 6px;
}

#header h1 {
	display: inline-block;
	margin: initial;
}

#spaceArea {
	float: left;
	position: relative;
	height: 800px;
	width: 80%;
	padding: 10px;
	background-color: white;
	box-shadow: inset 0px 0px 5px black;
}

.parameters {
	word-wrap: break-word;
    white-space: pre-wrap;
    font-size: small;
	float: left;
	width: 15%;
	padding: 10px;
	background-color: white;
	box-shadow: inset 0px 0px 5px black;
}

#spaceContainer {
	width: 100%;
	height: 100%;
}

.select {
	font-size:small;
	width: 125px;
}